@{
    ViewData["Title"] = "Home Page";
}

<div class="conteudo">

    <div class="campo input-group col-12">
        <input class="form-control" type="text" name="campo" value="" id="campo-texto" />
        <button class="btn btn-success " id="btn-adicionar"> Adicionar</button>
    </div>


    <div class="lista col-sm-12 col-lg-12">
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>

    var itens = [];


    $("#btn-adicionar").off("click");
    $("#btn-adicionar").on("click", function () {
        debugger
        var input = $("#campo-texto");
        var texto = input.val();
        var listaTemplate = `<div class="row" identificador="##identificador##">
            <div class="col-12">
                <span> OK! </span> <span> ##texto##</span>  <button class="btn btn-danger"  identificador="##identificador##">remover</button>
            </div>
        </div>`;



        var objItens = {
            Texto: texto,
            Id = itens.length
        };

        itens.push(objItens);

        $(".lista").prepend(listaTemplate.replaceAll("##identificador##", itens.length).replace("##texto##", texto));


    });


    //var objItens =




</script>

