@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        font-size: 20px
    }

    .row:hover {
        background-color: darkgrey
    }
</style>
<div class="conteudo">

    <div class="campo input-group col-12">
        <input class="form-control" type="text" name="campo" value="" id="campo-texto" />
        <button class="btn btn-success " id="btn-adicionar"> Adicionar</button>
    </div>


    <div class="lista col-sm-12 col-lg-12">
    </div>
</div>

<script>

    var itens = [];


    $("#btn-adicionar").off("click");
    $("#btn-adicionar").on("click", function () {
        var input = $("#campo-texto");
        var texto = input.val();
        var listaTemplate = `<div class="row" identificador="##identificador##">
            <div class="col-12">
                <span clas=""> OK! </span> <span> ##texto##</span>  <button class="btn btn-danger remover float-right"  identificador="##identificador##">X</button>
            </div>
        </div>`;



        var objItens = {
            Texto: texto,
            Id: itens.length
        };

        itens.push(objItens);

        $(".lista").prepend(listaTemplate.replaceAll("##identificador##", itens.length).replace("##texto##", texto));


        $(".remover").off("click");
        $(".remover").on("click", function () {
             
            $(`.row[identificador=${$(this).attr("identificador")}]`).remove();

        });
    });


    //var objItens =




</script>

