@page "/Pessoas/Lista"
@using EstudosBlazor.Shared.Models
<h3>Lista de Pessoas</h3>

@code {

    //List<PessoaModel> pessoas = new List<PessoaModel>
    //{
    //    new PessoaModel { Id=1,Nome="João Antonio Amaro",Peso =140}
    //    new PessoaModel { Id=1,Nome=" Antonio Amaro",Peso =140}
    //    new PessoaModel { Id=1,Nome="João Antonio Amaro",Peso =140}
    //    new PessoaModel { Id=1,Nome="João Antonio Amaro",Peso =140}
    //}
}
